* {
    padding: 0;
    margin: 0;
}

html {
    /* background: rgb(0, 0, 0, 0.1); */
    /* --boxshadowcolor: rgba(36, 36, 36, 0.6); */
    font-family: Arial, sans-serif;
    background: linear-gradient(cornflowerblue, #90181B) no-repeat;
    /* height: 100%; */
    /* background-image: url("images/starry-night-2.jpg"); */
    /* width: 205vh; */
}

.searchBar {
    text-align: center;
    margin-top: 30px;
}

.searchBar input {
    height: 2.3rem;
    width: 35rem;
    font-size: 17px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    border: 1px solid;
    border-radius: 4px;
    padding-left: 3rem;
}

.searchButton {
    height: 2.5rem;
    font-size: 13px;
    background-color: rgb(36, 135, 168);
    color: white;
    border: 0;
    border-radius: 4px;
    margin-left: 3px;
    width: 5rem;
}

.collection {
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    /* background-color: rgb(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    /* box-shadow: 0.5rem 0.5rem 0 var(--boxshadowcolor); */
    border: 0.12rem solid black;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    width: 20rem;
    /* height: 22rem; */
    height: 25rem;
    margin: 1rem;
    justify-content: space-between;
    border-radius: 6px;
}

.desc-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card img {
    height: 50%;
    width: 90%;
    display: flex;
    align-self: center;
    border-radius: 4px;
}

.card h3 {
    display: flex;
    justify-self: flex-start;
}

.add-to-cart-button {
    width: 6rem;
    align-self: center;
    align-items: center;
    height: 5rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-width: 1px;
}

.add-to-cart-button img {
    width: 1.5rem;
    height: 1.5rem;
}

.add-to-cart-button:hover {
    cursor: pointer;
}

.filters {
    padding: 1rem;
    background: linear-gradient(#F62217, #5C0F12);
    height: 80%;
    min-height: 80%;
    width: 18rem;
    min-width: 18rem;
    max-width: 18rem;
    position: fixed;
    top: 7rem;
    left: 1rem;
    border-radius: 50px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px; */ 
    /* --mask: 
    radial-gradient(1200px,#000 98%,#0000) right/2400px 2220.00px;
          mask: var(--mask); */
}

/* main {
    display: flex;
    width: 202vh;
} */

fieldset {
    margin-top: 0.5rem;
    border: 0.25rem solid black;
}

legend {
    font-weight: bold;
}
  
label {
    display: block;
    text-transform: capitalize;
}
  
label + label {
    margin-top: 0.25rem;
}

.page-contents {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: stretch; */
    width: 95rem;
    min-width: 95rem;
    max-width: 95rem;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    top: 5rem;
    left: 22rem;
}

.filters p {
    font-family: Rockwell;
    font-size: 80px;
}

/* .navbar {
    position: absolute;
    top: 4px;
    display: flex;
    align-items: center;
} */

.navbarItems a {
    display: inline-block;
    width: 0;
    margin-right: 7rem;
    text-decoration: none;
    vertical-align: middle;
}

.home-button {
    margin: 15px;
    width: 5rem;
    height: 3rem;
    font-size: 25px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-button {
    margin: 15px;
    width: 5rem;
    height: 3rem;
    font-size: 25px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-button {
    margin: 15px;
    width: 5rem;
    height: 3rem;
    font-size: 25px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-button {
    margin: 15px;
    width: 5rem;
    height: 3rem;
    font-size: 25px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    margin: 15px;
    width: 5rem;
    height: 3rem;
    font-size: 25px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarItems button:hover {
    cursor: pointer;
}

.navbarContainer {
    display: flex;
    background: #483D8B;
    height: 5rem;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 20;
}

.everythingElse {
    padding-bottom: 15rem;
}

.registerAndLoginButtons {
    position: absolute;
    top: 0;
    right: 0;
    /* height: 4.5rem; */
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.registerForm button{
    width: 50%;
    height: 2rem;
}

.registerForm input {
    width: 70%;
    text-align: center;
    height: 2rem;
    font-size: 18px;
}

.registerTitle {
    text-align: center;
    font-size: 25px;
}

.registerFieldset {
    border-width: 3px;
    border-color: rgb(0, 0, 0, 0.3);
    width: 25rem;
    margin: 1rem;
    border-radius: 20px;
    background: whitesmoke;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.loginForm button{
    width: 50%;
    height: 2rem;
}

.loginForm input {
    width: 70%;
    text-align: center;
    height: 2rem;
    font-size: 18px;
}

.loginTitle {
    text-align: center;
    font-size: 25px;
}

.loginFieldset {
    border-width: 3px;
    border-color: rgb(0, 0, 0, 0.3);
    width: 25rem;
    margin: 1rem;
    border-radius: 20px;
    background: whitesmoke;
}

.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.techy {
    margin-bottom: 9rem;
    text-align: center;
}

.price-filter {
    width: 90%;
}

.category-filter {
    width: 90%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }